*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    left: 40px;
    position: relative;
    left: -17cm;
    background-color: grey;
    padding: 12px 27px;
    margin: 13px;
}
nav.profile {
    list-style: circle;
    position: relative;
    border-radius: 100px;
    width: 10cm;
    height: 59px;
    right: 630px;
    color: white;
    background-color: gray;
}